#list {
    display: flex;
    width: 500px;
    height: 650px;
    border-radius: 10px;
    background: #EFE5DF;
    box-shadow: 4px 4px 4px 0px #DFCBC0;
    margin-bottom: 20px;
    justify-content: center; 
}

#container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#done, #search {
    width: 400px;
    border-radius: 10px;
    background: #EFE5DF;
    box-shadow: 4px 4px 4px 0px #DFCBC0;
    margin-bottom: 3px;
}

#done {
    height: 550px;
    display: flex;
    justify-content: center; 
}

#search {
    height: 80px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 400px;
    border-radius: 10px;
    background: #EFE5DF;
    box-shadow: 4px 4px 4px 0px #DFCBC0;
    margin-bottom: 3px;
}

#search input[type="text"]{
    width: 385px;
    height: 65px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    text-align: left;
}

body {

    height: 100%;
    background: linear-gradient(180deg, #FBE8DD 4.5%, #D4B8A8 54.5%, #CDAF9D 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;

}

section{

    display: flex;
    margin-left: 50%;
    transform: translate(-50%);
    height: 100%;
    margin-top: 5px;
    margin-bottom: 106px;
    gap: 10px;
}

.container img{

    margin-top: 2px;
    margin-left: 5px;

}

#logo_Black_semfundo{

    max-width: 320px;
    max-height: 270px;
}

#SendNewTask{

    height: 65px;
    width: 65px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #CDAF9D;
    cursor: pointer;
    transition: 0.4s;
}

#SendNewTask:hover{

    background-color: #8d6a55;
}