#list {
    width: 550px;
    min-height: 650px;
    border-radius: 10px;
    background: #EFE5DF;
    box-shadow: 4px 4px 4px 0px #DFCBC0;
    margin-bottom: 20px;
    justify-items: center;

}


#container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#done,
#search {
    width: 400px;
    border-radius: 10px;
    background: #EFE5DF;
    box-shadow: 4px 4px 4px 0px #DFCBC0;
    margin-bottom: 3px;
}

#done {
    height: 550px;
    justify-items: center;
}

#search {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-radius: 10px;
    background: #EFE5DF;
    box-shadow: 4px 4px 4px 0px #DFCBC0;
    margin-bottom: 3px;
    overflow: hidden;
    /* Para ocultar o bot�o quando ele se move */
}


#search input[type="text"] {
    width: 385px;
    height: 65px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    text-align: left;
}

body {

    height: 100%;
    background: linear-gradient(180deg, #FBE8DD 4.5%, #D4B8A8 54.5%, #CDAF9D 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;

}

h2 {

    margin-bottom: 30px;
    font-family: "Marcellus SC", serif;
}

#ListText {

    margin-left: 15%;

}

li {
    background-color: red;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    margin-bottom: 30px;
    margin-left: 40px;
    min-width: 100px;
    max-width: 500px;
    min-height: 50px;
    list-style-type: none;
    align-items: center;
    display: flex;
    padding-left: 0px;
    border-radius: 5px;
    letter-spacing: 3px;
    /* Diogo e matheus olha ai sobre o justify content*/
    justify-content: space-between;/* Vai salvar nos na hora de colocar o lixinho e o lapis coloca uma div juntando as imagen que ele ja vai jogar pra direita :))*/
    justify-items: start;
    direction: ltr;  
}

ul {
    display: flex;
    text-align: center;
    padding: 0px;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    max-height: 650px;      /* Define uma altura máxima para a lista */
    overflow-y: auto;  /* Faz com que aconteca a lista de rolagem*/
    direction: rtl;  /* deixa a rolagem na esquerda*/
    width: 100%;
}
ul #uldone{
    max-height: 550px;
    overflow-y: auto; 
}
.marcellus-sc-regular {
    font-family: "Marcellus SC", serif;
    font-weight: 400;
    font-style: normal;
}


section {
    display: flex;
    margin-left: 50%;
    transform: translate(-50%);
    height: 100%;
    margin-top: 5px;
    margin-bottom: 106px;
    gap: 10px;
}

.container img {

    margin-top: 2px;
    margin-left: 5px;

}

#logo_Black_semfundo {

    max-width: 320px;
    max-height: 270px;
}

#SendNewTask {

    height: 65px;
    width: 65px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #CDAF9D;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#SendNewTask:hover {

    background-color: #8d6a55;
}


#SendNewTask.active {
    transform: translateX(-568%);
    /* Move totalmente para a esquerda */
    background-color: #8d6a55;
    /* Muda a cor para verde */
}

#SendNewTask .iconImage {
    width: 20px;
    height: 20px;
    color: #fff;
}

#taskInput {

    margin-left: 10px;
}

#taskInput.hidden {
    opacity: 0;
    /* Esconde o texto ao mover o bot�o */
}